- name: Set up nodejs
  ansible.builtin.include_role:
    name: common
    tasks_from: nodejs

- name: Start systemd service
  ansible.builtin.include_role:
    name: common
    tasks_from: systemd_setup.yaml